// 字体图标
@font-face {
  font-family: 'm-iconfont';  /* Project id 2577654 */
  src: url('https://at.alicdn.com/t/font_2577654_zlfx7e3mn7.woff2?t=1624002007636') format('woff2'),
       url('https://at.alicdn.com/t/font_2577654_zlfx7e3mn7.woff?t=1624002007636') format('woff'),
       url('https://at.alicdn.com/t/font_2577654_zlfx7e3mn7.ttf?t=1624002007636') format('truetype');
}
.m-iconfont {
	font-family: 'm-iconfont' !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.m-iconfont-6 {
	font-family: 'm-iconfont' !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
