@import '~@/assets/scss/varibles.scss';
@mixin fc($fonstSize, $color: #333) {
	font-size: $fonstSize;
	color: $color;
}
@mixin inputSetting($fonstSize: 30rpx, $color: #333) {
	::-webkit-input-placeholder {
		/* WebKit browsers */
		color: $color;
		font-size: $fonstSize;
	}

	::-moz-placeholder {
		/* Mozilla Firefox 19+ */
		color: $color;
		font-size: $fonstSize;
	}

	:-ms-input-placeholder {
		/* Internet Explorer 10+ */
		color: $color;
		font-size: $fonstSize;
	}
}
@mixin bgSettings() {
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center center;
}

@mixin textOverflow1() {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@mixin textOverflow2() {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
@mixin textOverflow3() {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

@mixin bsPage() {
	position: absolute;
	left: 0;
	right: 0;
	overflow: hidden;
}
